.navbar{

    background-color: salmon;
   
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
 
}
li{
    list-style-type:none;

}
a{
    text-decoration: none;
    color: white;
    padding: 10px;
    text-align: center;
}
a:hover{
    background-color: black;
    color: white;
}
