
.incomeandexpense{
  display: flex;
  justify-content: center;
  flex-direction: column;
 margin-left: 15%;
 margin-top: 30px;
 margin-right: 15%;
 border-style: double;
 border-radius: 20px;
 overflow: hidden;
 background-color: rgb(28, 114, 147);
 color: white;
}
.incomeandexpense header{
 padding: 5px;
  text-align: center;
  font-size: 30px;
  text-decoration: double underline black;

}
@media (max-width: 768px) {
  .incomeandexpense {
   margin: 10px;
  }
  
  .incomeandexpense header {
    font-size: 24px;
  }
}
